div.detail-div {
	width:25%;
	float:right;
}
div.Formulario {
	background-color: #E6E6E6;
	padding : 15px;
}
div.selected {
	background-color: #81F7F3;
}
div.rowButtonsContainer {
	display: inline-block;
	float:right;
}
button.buttonNew {
	float: right
}

a.anchorMenu{
	display:inline-block;
	padding: 10px;
	margin: 0px;
}
a.anchorSelected{
	border-top: solid;
	border-right: solid;
	border-left: solid;
	background-color: 
}
a.anchorNotSelected{
	border: solid;

}